.timeLine .timeLine-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  border: 1px solid #ebeef0;
  
}
.timeLine .timeLine-header svg {
  width: 1.5rem;
  height: 1.5rem;
  color: var(--twitter-blue);
}
.status .timeLine-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 700;
  border: 1px solid #ebeef0;
 
}
.status .timeLine-header svg {
  display: none;
 
}