* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --twitter-blue: #1da1f3;
}
body {
  color: #0f1419;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscala;
}
body,
input,
textarea,
button {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}
button {
  cursor: pointer;
}
a {
  color: inherit;
}
